asgiref
certifi
charset-normalizer
Django
gunicorn
idna
joblib
numpy
packaging
pandas
python-dateutil
pytz
requests
--only-binary=:all:
scikit-learn
scipy
six
sqlparse
threadpoolctl
tzdata
urllib3
whitenoise
